@import 'base';
@import 'global';
@import 'general';

/*-------------------------------------------
	Partials
-------------------------------------------*/
@import 'pieces/layout';

/*-------------------------------------------
   	Extra Classes
-------------------------------------------*/
.clearfix { @include clearfix; }
.left { display: block; float: left; }
.right { display: block; float: right; }
.center { text-align: center; }
.scale { max-width: 100%; height: auto; }
.upper { text-transform: uppercase; }
.meta { position: absolute; left: -9999px; }
.hide { display: none; }