{% block content %}
<div class="block short parallax-bg" data-parallax-speed="50" data-bg-image="assets/img/bridge1.jpg">
	<div class="wrapper">
		<p><span class="beta">The internet use to be very 2D.</span> <br/>Then parallax happened. <br> <span class="comment">↯</span></p>
	</div>
</div>
<div class="block parallax-bg" data-bg-image="assets/img/pond1.jpg">
	<div class="wrapper">
		<span class="introducing"><em>Introducing</em></span>
		<h1>Diurnal Parallax</h1>
		<small><em>a plugin for jQuery</em></small>
	</div>
</div>
<div class="block parallax-bg" data-bg-image="assets/img/birds.jpg">
	<div class="wrapper">
		<p>It’s the simplest way to get that fancy parallax effect on background images without doing any of the work.</p>
	</div>
</div>
<div class="block parallax-bg" data-bg-image="assets/img/dandy.jpg">
	<div class="wrapper">
		<p>Just imagine a world where you don’t have to do extra scripting just to get some of that parallax on a page</p>
	</div>
</div>
<div class="block shorter">
	<div class="wrapper">
		<p>
			Get a copy from Github and… <br><br>
			<a href="http://github.com/levibeach/diurnal-parallax" class="button">Live the dream!</a> <br>
			<small><em>Brought to you by <a href="http://levibeach.com/">Levi Beach</a></em></small>

		</p>
	</div>
</div>
{% endblock %}